<div class="container" >
  <img src="/assets/Background.svg" alt="Background" style="position: absolute; object-fit: cover; z-index: -1;">

  <div class="menu">
      <div class="menu-bar">
          <div class="logo-container">
              <img class="logo-img" src="assets/i2c-logo.svg" />
          </div>
          <div class="menu-items">
              <div class="menu-item">
                  <div class="about-us">About us</div>
                  <div class="registration">Registration</div>
                  <div class="careers">Careers</div>
              </div>
              <div class="contact-button">
                  <div class="contact-us">Contact us</div>
              </div>
          </div>
      </div>

      <div class="class-1">
          <div class="class-2">
              <div class="class-3">   
                  <div class="class-4">
                      <div class="chat-container">
                          <span style="color: black;">Lorem ipsum </span>
                          <span style="color: #46B0E6;">dolor</span>
                          <span style="color: #5380EA;">&#160;</span>
                          <span style="color: black;">sit amet yo 👋</span>
                          
                      </div>
                      <div>
                          <img style="width: 121.69px; height: 8.29px; top: 52.22px; left: 316.24px; position: absolute;" src="assets/Vector.svg" />
                      </div>                    
                  </div>

                  <div class="card-container">
                      <div class="card">
                          <img style="width: 64px; height: 64px; border-radius: 32px" src="assets/lady1.svg" />
                          <div class="card-text">
                              <div class="chat-1">Andrew Schultz</div>
                              <div class="chat-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in tristique senectus dui pharetra sit.</div>
                          </div>
                      </div>
                      <div class="card-chat">
                          <img style="width: 64px; height: 64px; border-radius: 32px" src="assets/person.svg" />
                          <div class="card-details">
                              <div class="chat-3">Andrew Schultz</div>
                              <div class="chat-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in tristique senectus dui pharetra sit.</div>
                          </div>
                      </div>
                      <div class="card-chart">
                          <img style="width: 64px; height: 64px; border-radius: 32px" src="assets/lady2.svg" />
                          <div class="card-text-1">
                              <div class="chat-5">Andrew Schultz</div>
                              <div class="chat-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in tristique senectus dui pharetra sit.</div>
                          </div>
                      </div>
                      <div class="gradient-divider">
                      </div>
                  </div>
              
              </div>
          </div>
          <div class="bar-card">
              <div class="bar-card-1">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                  <div class="color-3"></div>
                  <div class="color-4"></div>
                  <div class="color-5"></div>
                  <div class="color-6"></div>
                  <div class="color-7"></div>
                  <div class="color-8"></div>     
              </div>
              <img style="width: 572.74px; height: 632px; left: 596.12px; top: 173px; position: absolute;" src="assets/Investment.svg" />
          </div>
      </div>

      <div class="padlock-container">
        <div class="padlock-1">
            <div style="width: 64px; height: 64px;">
                <img style="width: 64px; height: 64px;" src="assets/Padlock.svg" />
                <div class="padlock-2">
                    <div class="padlock-padding"></div>
                </div>
            </div>
            <div class="padlock-3">
                <div class="padlock-4">24/7 Support</div>
                <div class="padlock-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            </div>
        </div>
          <div class="bar-chart">
              <div style="width: 64px; height: 60.08px;">
                  <img style="width: 60.08px; height: 60.08px; left: 24px; top: 24px;" src="assets/barchart.svg" />
                  <div class="bar-chart-1">
                      <div class="bar-chart-2"><div class="bar-gradient-1"></div></div>
                      <div class="bar-chart-3"><div class="bar-gradient-2"></div></div>
                      <div class="bar-chart-4"><div class="bar-gradient-3"></div></div>
                  </div>
              </div>

              <div class="review-container">
                  <div class="review-1">1000+ of reviews</div>
                  <div class="review-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>

          </div>
          <div class="review-3">
              <div style="width: 64px; height: 64px;">
                  <div class="cup">
                      <img style="width: 64px; height: 64px; left: 24px; top: 24px;" src="assets/cup.svg" />
                      <div class="review-4">
                          <div class="review-5">
                          </div>
                      </div>                        
                  </div>
              </div>
              <div class="review-6">
                  <div class="review-7">And more!</div>
                  <div class="review-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
          </div>
      </div>

      <div class="trust-container">
          <div style="">
              <div style="width: 204.1px; height: 54.07px; position: relative;">
                  <div class="trust-2">Trusted by</div>
                  <img style="width: 203.96px; height: 8.29px; left: 118.64px; position: absolute; top: 41px; align-items: center; " src="assets/Vector 17.svg" />
              </div>
              <div class="trust-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in tristique senectus dui pharetra sit.</div>
          </div>
          <div class="trust-4">                    
              <div class="trust-5">
                  <div><img style="width: 24px; height: 24px;" src="assets/left-arrow.svg" /></div>
                  <img style="width: 300px; height: 150px;" src="assets/Microsoft logo.svg" />
                  <img style="width: 88px; height: 72px;" src="assets/bird.svg" />
                  <img style="width: 300.44px; height: 98.38px;" src="assets/cocacola.svg" />
                  <div><img style="width: 24px; height: 24px; transform: rotate(180deg);" src="assets/left-arrow.svg" /></div>
              </div>
          </div>
      </div>

      <div class="bot-container">
          <div style="width: 505px; height: 575px; position: relative;">
              <div style="width: 505px; height: 575px; top: 28px;">
                  <div class="bot-1"></div>
                  <div class="bot-2"></div>
                  <div class="bot-3"></div>
                  <div class="bot-4"></div>
                  <div class="bot-5"></div>
                  <div class="bot-6"></div>
                  <div class="bot-7"></div>
                  <div class="bot-8"></div>    
              </div>
              <img style="width: 489px; height: 489px; top: 74px; position: absolute; " src="assets/Assistant bot.svg" />
          </div>
          <div class="register-container">
              <div style="width: 441px; height: 106px;">
                  <div class="register-1">Registration</div>
                  <div class="register-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in tristique senectus dui pharetra sit.</div>
              </div>
              <div style="width: 479px; height: 282px;">
                  <div class="register-3">
                      <div class="register-4"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">Name </span><span style="color: #EB5939; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">*</span></div>
                      <div class="register-5">
                          <div class="register-6">Enter your name</div>
                      </div>
                  </div>
                  <div class="register-7">
                      <div class="register-8">Company</div>
                      <div class="register-9">
                          <div class="register-10">Enter your company name</div>
                      </div>
                  </div>
                  <div class="register-11">
                      <div class="register-12"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">Email address </span><span style="color: #EB5939; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">*</span></div>
                      <div class="register-13">
                          <div class="register-14">Enter your email address</div>
                      </div>
                  </div>
              </div>
              <div class="register-15">
                  <div class="register-16">Submit</div>
              </div>
          </div>
      </div>

      <div class="footer-container">
          <div class="footer-1"></div>
          <div class="footer-2">
              <div style="position: absolute;">
                  <div class="footer-3">
                      <img style="width: 55px; height: 34px; top: -0.5px;" src="assets/Footer Logo.svg" />
                  </div>
                  <div class="footer-4">
                      <div class="footer-5">
                          <div class="footer-6">FAQs</div>
                          <div class="footer-7">Privacy Policy</div>
                          <div class="footer-8">Other</div>
                      </div>
                      <div class="footer-9">
                          <div class="footer-10">Contact us</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="copyright"><span style="position: absolute;">Copyright © 2023 i2c inc. All rights reserved.</span></div>
      </div>

  </div>
</div>